# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Large data folders
data/raw/
data/processed/

# Models (large files)
models/

# Logs / temp
*.logx
